.container
{
  max-width: 400px;
  min-width: 450px;
  margin: 0 auto;
  background-color: rgb(180, 180, 180);
  box-shadow: 0px 0px 10px rgb(184, 184, 184);
  margin-top: 90px;
  padding: 45px;
  padding-top:1px;
  
}

.text-center
{
  text-align: center;
}

.expense-container
{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(255, 98, 51);
  
 
}

.transaction-form input
{
  width: 100%;
  margin: 10px 0;
  padding:5px 0;

}

.transaction-list
{
  margin:0;
  padding:0;
  
}

.transaction-list>li
{
  display:flex;
  justify-content: space-between;
  box-shadow:0 0 10px red;
  padding:5px 2px;
  margin:10px 0;
  
}
